# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [8]:
import pandas as pd
import numpy as np

In [12]:
np.random.seed(500)

In [13]:
data = {'國家': ['country1','country2','country3','country4','country5','country6','country7','country8','country9','country10'],
        '人口': np.random.randint(100000,30000000,size=10)}
df = pd.DataFrame(data)
df

          國家        人口
0   country1  26640890
1   country2  19122775
2   country3  22030257
3   country4  11048302
4   country5  27120221
5   country6  19519423
6   country7  11815144
7   country8   7805421
8   country9  21102513
9  country10  26352689

In [18]:
mask = df['人口'] == df['人口'].max()
df[mask].iat[0,0]

'country5'